#showcase-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.showcase-grid {
    &__frame {
        border: 2px solid orangered;
        flex: 1;
        transform: scale(10%);
        display: flex;
        place-content: center;
        & > iframe {
            width: 1920px;
            height: 1080px;
        }
    }
}
